body {
    background-color: #205081;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

ul {
    list-style-type: none;
    margin-left: -40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    white-space: nowrap;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 26px;
    padding-right: 2px;
    vertical-align: middle;
    cursor: pointer;
}

li:hover {
    background-color: #296CA3;
}

.action_url {
    background: url('url16.png') no-repeat 5px 3px transparent;
}

.action_htmlLink {
    background: url('url16.png') no-repeat 5px 3px transparent;
}

.action_title {
    background: url('title16.png') no-repeat 5px 3px transparent;
}

.action_email {
    background: url('email16.png') no-repeat 5px 3px transparent;
}

/* 
When copying the HTML, we get all the cascaded style sheets with it.
Use the default font/font-size and bg color of Outlook.
*/
.html_link {
    background-color: white;
    font-family: Calibri, sans-serif;
    font-size: 11pt;
}

textarea {
    display: none;
}

form {
    margin-bottom: 1em;
}